[submodule "configs/.vim"]
	path = configs/.vim
	url = git://github.com/brauliobo/vimfiles.git
[submodule "src/vimpager"]
	path = src/vimpager
	url = https://github.com/rkitover/vimpager.git
[submodule "configs/.zprezto"]
	path = configs/.zprezto
	url = https://github.com/sorin-ionescu/prezto.git

[submodule "configs/.rbenv"]
	path = configs/.rbenv
	url = https://github.com/sstephenson/rbenv.git
[submodule "src/rbenv-plugins/ruby-build"]
	path = src/rbenv-plugins/ruby-build
	url = https://github.com/sstephenson/ruby-build.git
