[submodule "src/vimpager"]
	path = src/vimpager
	url = https://github.com/rkitover/vimpager.git
[submodule "configs/.rbenv"]
	path = configs/.rbenv
	url = https://github.com/sstephenson/rbenv.git
[submodule "src/rbenv-plugins/ruby-build"]
	path = src/rbenv-plugins/ruby-build
	url = https://github.com/sstephenson/ruby-build.git
[submodule "nested-tmux"]
	path = nested-tmux
	url = https://github.com/brauliobo/nested-tmux.git
[submodule "tmux-resurrect"]
	path = tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule "configs/configs/.config/nvim"]
	path = configs/configs/.config/nvim
	url = https://github.com/brauliobo/lazy.nvim.starter.git
[submodule "configs/.config/nvim"]
	path = configs/.config/nvim
	url = https://github.com/brauliobo/lazy.nvim.starter.git
